body {
  margin: 0;
  background-color: rgb(40, 217, 217);
  padding-top: 0;
}

.header {
  gap: 16px;
  background-color: rgb(2, 240, 240);
  padding: 8px;
  display: flex;
  justify-content: center;
  font-size: xx-large;
  list-style: none;
  margin-top: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  flex-wrap: wrap;
}

.link {
  text-decoration: none;
}

.home, .Home, .about, .contact, .carrer {
  color: black;
  font-weight: 900;
  text-align: center;
  font-size: xx-large;
}

@media (max-width: 768px) {
  .header {
    font-size: large; 
  }
  .home, .Home, .about, .contact, .carrer {
    font-size: large;
  }
}

@media (max-width: 480px) {
  .header {
    flex-direction: row; 
    font-size: medium; 
  }
  .home, .Home, .about, .contact, .carrer {
    font-size: medium;
  }
}
